---
import '../../styles/global.css'
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Content as Markdown1 } from '../../content/docs/index.mdx'
---

<DefaultLayout>
  <nav>
    <ul class="flex space-x-3">
      <li><a href="index.mdx">Docs</a></li>
      <li><a href="/docs">Home</a></li>
      <li><a href="guides/example">Guides</a></li>
      <li><a href="reference/example">Reference</a></li>
    </ul>
  </nav>
  <Markdown1 />
</DefaultLayout>
