# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE files
.idea
.vscode

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
node_modules

# system files
.DS_Store

# render binary
/render/render

# temporary policy clone directory
.temp-policies

# Hugo related files
# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Local Netlify folder
.netlify

# website build output
public/