[build]
# This default build command adds the robots noindex directive to the site headers.
publish = "public"
functions = "functions"
command = "git submodule update --init --recursive --depth 1 && make non-production-build"

[build.environment]
HUGO_VERSION = "0.82.0"
NODE_VERSION = "10.20.0"
RUBY_VERSION = "2.7.1"

[context.production.environment]
# HUGO_BASEURL = "https://kyverno.io/"
HUGO_BASEURL = "https://kyverno-ui-poc.netlify.app/"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.deploy-preview]
command = "git submodule update --init --recursive --depth 1 && make deploy-preview"

[context.branch-deploy]
command = "git submodule update --init --recursive --depth 1 && make deploy-preview"

[context.master]
# This context is triggered by the `master` branch and allows search indexing
# DO NOT REMOVE THIS (contact @kubernetes/sig-docs-leads)
publish = "public"
command = "git submodule update --init --recursive --depth 1 && make production-build"