@import "tailwindcss";



:root {
    font-family: "Inter", sans-serif;
    background-color: #12171B;
    color: #eee;
}


  @theme {
      --color-dark-100: #12171B;
      --color-dark-50: #171E22;
      --color-dark-footer: #0D1012;
      --color-primary-100: #3783C4; 
      --color-primary-75: #69A2D3; 
      --color-primary-50: #9BC1E1; 
      --color-primary-25: #CDE0F0; 
      --color-accent-100: #E77E5B; 
      --color-accent-75: #ED9E84; 
      --color-accent-50: #F3BFAD; 
      --color-accent-25: #F9DFD6; 
      --color-stroke: #28353C;
    }


   