/*
Add styles or override variables from the theme here.
*/

html.smooth-scroll {
    scroll-behavior: smooth;
}

// Theme colors

$primary: #3783C4;
$secondary: #E77E5B;
$dark: #020c22;
$info: #adb5bd;
$light: #dee2e6;

$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ccc !default;
$gray-500: #adb5bd !default;
$gray-600: #888 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #000 !default;

// Nav bar colors

$white: #fff;
$navbar-dark-color: rgba($white, 1);
$navbar-dark-hover-color: rgba($white, 0.75);
$navbar-dark-active-color: $navbar-dark-color;

// Fonts

$google_font_family: "Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" !default;


// Front page styling

.text-white {
  font-weight: 400;
}

.bg-primary-dark {
  background-color: $dark;

  a {
    border-bottom: 1px dotted paleturquoise;

    color: paleturquoise !important;
    font-weight: 600;
    padding: 0 2px 1px 2px;
    text-decoration: none;

    &:hover {
      border-bottom: 1px dotted #fff;

      color: #fff !important;
    }
  }
}

.border-primary-dark {
  border-color: $info !important;
}

.image {
  display: block;
}

.image img {
  display: block;
  width: 100%;
  height: auto;
}

.image.left, .image.right {
  max-width: 45%;
}

.image.left::after, .image.right::after {
    clear: both;
    content: "";
    display: block;
}

.image.left {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.image.right {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

@media screen and (min-width: 769px) {
  #pageContent .lead {
    margin-top: 1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: stretch;
        align-items: stretch;
  }
  #pageContent .lead > * {
    -ms-flex: 0 1 auto;
        flex: 0 1 auto;
  }
  #pageContent .lead > .image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  #pageContent .lead > .image > img {
      max-width: 80%;
      margin: 0 auto;
  }
  #pageContent .lead > .text {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  #pageContent .lead:nth-child(2n+0) > .image {
    -ms-flex-order: 2;
        order: 2;
  }
  #pageContent .lead:nth-child(2n+0) > .text {
    -ms-flex-order: 1;
        order: 1;
  }
}