---
import '../styles/global.css'
import '../layouts/DefaultLayout.astro'
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { HeroSection } from '../sections/HeroSection'
import { WhykyvernoSection } from '../sections/WhykyvernoSection'
import { ComparisonChart } from '../sections/ComparisonChart'
import { FeatureSection } from '../sections/FeatureSection'
import { CtaSection } from '../sections/CtaSection'
import { CelPolicySection } from '../sections/CelPolicySection'
import { PartnersSection } from '../sections/PartnersSection'
import { getCollection } from 'astro:content'
import { BlogSection } from '../sections/BlogSection'
import { CncfSection } from '../sections/CncfSection'

const posts = await getCollection('blog')
const latestPosts = posts
  .sort((a, b) => {
    if (a.data.date.valueOf() === b.data.date.valueOf()) return 0
    return a.data.date.valueOf() > b.data.date.valueOf() ? -1 : 1
  })
  .slice(0, 4)
---

<DefaultLayout>
  <!-- <a href="/docs">Docs</a> -->
  <HeroSection client:load />
  <WhykyvernoSection />
  <ComparisonChart />
  <FeatureSection />
  <CncfSection />
  <CelPolicySection />
  <PartnersSection />
  <BlogSection latestPosts={latestPosts} />
</DefaultLayout>
