{{ define "main" }}
<div class="policy_grid policy_page">
  <div class="mt-4">
    {{- partialCached "policies/sidebar" . }}
  </div>
  <div class="policy_wrap">
    {{- partialCached "policies/toggle" . }}
    <h1>{{ .Title }}</h1>
    <div class="lead">{{ .Params.description }}</div>
    {{ .Content }}
    {{- $cpi := T "create_policy_issue" }}
    <div class="text-muted mt-5 pt-3 border-top">
      <a href="https://github.com/kyverno/policies/issues/new?title={{ $cpi }}"><i class="fab fa-github fa-fw"></i> {{ $cpi }}</a>
    </div>
  </div>
</div>
{{ end }}