{{ $links := .Site.Params.links }}
<footer class="bg-dark py-5 row d-print-none" >
  <div class="container-fluid mx-sm-5">
    <div class="row">
        <div class="col-6 col-sm-4 text-xs-center order-sm-2">
          {{ with .Site.Params.copyright }}<small class="text-white">&copy; {{ now.Year}} {{ .}} {{ T "footer_all_rights_reserved" }}</small>{{ end }}
        </div>
        <div class="col-6 col-sm-4 text-xs-center order-sm-2" style="text-align: right; margin-left: auto; margin-right: 80px;">
            {{ with $links }}
            {{ with index . "user"}}
            {{ template "footer-links-block"  . }}
            {{ end }}
            {{ end }}
          </div>
    </div>
    <img referrerpolicy="no-referrer-when-downgrade" src="https://static.scarf.sh/a.png?x-pxid=8be4de30-8c1a-446b-a3cc-9a02346ccb1d" />
    <script type="text/javascript">
      !function(){var e,t,n;e="ae9456b7c98770e",t=function(){Reo.init({clientID:"ae9456b7c98770e"})},(n=document.createElement("script")).src="https://static.reo.dev/"+e+"/reo.js",n.defer=!0,n.onload=t,document.head.appendChild(n)}();
    </script>
  </div>
</footer>
{{ define "footer-links-block" }}
<ul class="list-inline mb-0">
  {{ range . }}
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="{{ .name }}" aria-label="{{ .name }}">
    <a class="text-white" target="_blank" rel="noopener noreferrer" href="{{ .url }}">
      <i class="{{ .icon }}"></i>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
{{- partialCached "icon-sprites" . }}