+++
title = "Kyverno"
linkTitle = "Kyverno"

+++

{{< blocks/cover title="Kubernetes Native Policy Management" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kyverno/kyverno">
		Github <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Manage policies as Kubernetes resources. Validate, mutate, and generate configurations. Select resources based on labels and wildcards. View policy enforcement as events. Detect policy violations for existing resources.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Manage policies as Kubernetes resources. Validate, mutate, and generate configurations. Select resources based on labels and wildcards. View policy enforcement as events. Detect policy violations for existing resources.{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/kyverno/kyverno" %}}
We do a [Pull Request](https://github.com/kyverno/kyverno/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/kyverno" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col" >
<h1 class="text-center">Features</h1>
  <ul class="text-center">
     <li>Policy definitions as Kubernetes resources</li>
     <li>Validate, mutate, or generate Kubernetes resources</li>
     <li>Match resources using label selectors and wildcards</li>
     <li>Mutate using overlays (like Kustomize) or JSON Patch</li>
     <li>Validate using overlays and powerful conditionals</li>
     <li>Generate default resources during namespace creation</li>
     <li>Reporting of policy violations for existing resources</li>
     <li>Kubernetes events for resource changes and policy enforcement</li>
     <li>Test policy changes using kubectl</li>
  </ul>

</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/kyverno/kyverno" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/kyverno" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
