---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Simplify cloud-native governance with Kyverno. Automate Kubernetes security, ensure resource compliance, and empower Platform Engineers to manage infrastructure and applications using native YAML-based declarative policy-as-code."
    />
    <meta property="og:url" content="https://astro.kyverno.io/" />
    <meta property="og:site_name" content="Kyverno" />
    <meta property="og:title" content="Kyverno" />
    <meta
      property="og:description"
      content="Simplify cloud-native governance with Kyverno. Automate Kubernetes security, ensure resource compliance, and empower Platform Engineers to manage infrastructure and applications using native YAML-based declarative policy-as-code."
    />
    <meta property="og:locale" content="en" />
    <meta property="og:type" content="website" />
    <meta itemprop="name" content="Kyverno" />
    <meta
      itemprop="description"
      content="Simplify cloud-native governance with Kyverno. Automate Kubernetes security, ensure resource compliance, and empower Platform Engineers to manage infrastructure and applications using native YAML-based declarative policy-as-code."
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Kyverno" />
    <meta
      name="twitter:description"
      content="Simplify cloud-native governance with Kyverno. Automate Kubernetes security, ensure resource compliance, and empower Platform Engineers to manage infrastructure and applications using native YAML-based declarative policy-as-code."
    />
    <title>Kyverno</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="favicon.svg" type="image/svg" />
  </head>
  <body>
    <slot />
  </body>
</html>
