{{- $s := site.Params }}
{{- $policies := $s.policies }}
{{- $policyFilters := $s.policyFilters }}
{{- $filterIDs := slice }}
<aside class="policy_filters">
  <h3 class="policy_filter" style="margin-top: 40px;">Policies</h3>
  <a href="/policies/pod-security/" class="filter_link">Pod Security</a>
  <a href="/policies/gatekeeper/" class="filter_link">Gatekeeper Migration</a>
  {{- range $policyFilters }}
  <div class="filter_type filter_{{ .filterID }}" data-criteria="{{ .filterID }}">
    <h3 class="filter_title">{{ .title }}</h3>
    {{- if .isFixed }}
    {{- range $policies }}
      <div class="filter">{{ . }}</div>
    {{- end}}
    {{- else }}
      {{- $filterIDs = append .filterID $filterIDs }}
    {{- end }}
  </div>
  {{- end }}
  <div id="policy_filters" data-filters={{ delimit $filterIDs "," }}></div>
</aside>